body{
background-color: #292929;
height: 100%;
width: 100%;
overflow: scroll;
color: #b6daff;
font-family: verdana;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}


p:hover{
    background-color: black;
}

label{
    text-align: center;
    
}

.main{
    display: flex;
    justify-content: space-around;
    height: 600px;
    
}

.main-left, .main-center, .main-right{
    margin: 5px;
	padding: 5px;
	flex: 0 1 auto;
    background-color: #253C43; 
    min-width: 30%;
    overflow-y: auto;
}

.form{
    margin-left: 20px;
    height: auto;
}

.in-form{
    margin: 10px;
}

input{
    background-color: #b6daff;
    
}




button{
    border-radius: 5px;
    background-color: #292929;
    color: white;
}

button:hover{
    background-color: blueviolet;
}

