body{
background-color: #292929;
height: 100%;
width: 100%;
overflow: scroll;
color: #b6daff;
font-family: verdana;
}

h2{
    text-align: center;
}
.form{
    margin-left: 20px;
    width: 20%;
    height: auto;
    background-color: #253C43;
}


label{
    margin-left: 5px;
}

input[type=text],input[type=number] {
    margin: 10px;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#338888;
}

button{
    margin: 10px;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#wi-out{
    margin-left: 20px;
    width: 20%;
    min-height: 20%;
    background-color: #253C43; 
    cursor: pointer;
    
    
}

#objectlist{
    width: 20%;
    min-height: 20%;
    background-color: #253C43; 
    position: relative;
    left: 40%;
    top: -220px;
    cursor: pointer;
    
    
}


#objectprops{
    position: fixed;
    top: 100px;
    left: 70%;
    
    
    
    
}









